:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-title-color: #ffffff;
  --button-color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  color: #000000;
}

/* Header */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-item {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item-description {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;

  width: 322px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-connect {
  display: flex;
}

.header-connect {
  margin-left: auto;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-studio {
  margin-right: 90px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  display: flex;
}

/* auth-list */

.header-address {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-address:focus,
.header-address:hover {
  color: var(--accent-color);
}

/* Герой */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-title-color);
  margin-bottom: 30px;
}

.hero-container {
  padding: 200px 237px;
}

.hero-button {
  display: block;
  margin: 0 auto;
}

/* section */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-title-second {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
  margin-bottom: 4px;
  width: 322px;
}
.section-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.section-text-command {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.section-text-second {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  width: 322px;
}
/* feature */

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-section {
  background: #e5e5e5;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item:not(:first-child) {
  margin-left: 30px;
}

.feature-pre-title {
  margin-bottom: 10px;
}

.feature-text {
  width: 270px;
}

/* about */

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item:not(:first-child) {
  margin-left: 30px;
}

.container-title {
  margin-bottom: 50px;
}

/* command */

.command-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
}

.command-item:not(:first-child) {
  margin-left: 30px;
}

.command-title {
  margin-bottom: 50px;
}

.command-title-name {
  margin-bottom: 10px;
  text-align: center;
}

.text-command {
  text-align: center;
}

.command-item-description {
  margin-top: 30px;
  padding-bottom: 124px;
}

/* Button */

.button {
  color: var(--primary-title-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  min-width: 200px;
  height: 50px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-second link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--button-color);
}

.button-second:focus,
.button-second:hover {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-second {
  display: block;
  margin: 0 auto;
  background: #f5f4fa;
  border: 1px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
}

.menu-item:not(:last-child) {
  margin-right: 8px;
}

/* footer */

.footer {
  background: #2f303a;
}

.address-list {
  color: var(--primary-title-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 9px;
}

.address-tel {
  margin-bottom: 0;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address-list {
  display: block;
  margin-bottom: 9px;
}
